.inter { font-family: 'Inter', sans-serif; }

.center { text-align: center; }

.bg-dark-gray-blue { background: #1B1E26; }

.fg-white { color: white; }
.fg-light-gray { color: #C2C2C2; }
.fg-dark-gray { color: #858585; }

.fs-120 { font-size: 120px; }
.fs-40 { font-size: 40px; }


.pos-abs { position: absolute; }
.pos-rel { position: relative; }

.select-none { user-select: none; }