@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import "kw.css";

html, body { margin: 0; }

#title_screen {
    width: 100%;
    height: 800px;
}

#title_text {
    top: 30%;
    left: 15%;
}