svg {
  animation: idle 4s infinite;
}

@keyframes idle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
svg.klobuk #Right-Hand, svg.klobuk #Right-Wrist,
svg.klobuk #Left-Hand, svg.klobuk #Left-Wrist,
svg.klobuk #Bottom-Hat, svg.klobuk #Top-Hat, svg.klobuk #Hat-Stripe,
svg.klobuk #Flower, svg.klobuk #Flower-Middle {
  animation: MoveDownAndUp 2s;
}

svg.blink #Right-outer-Eye, svg.blink #Right-inner-Eye, svg.blink #Right-eye-Spark,
svg.blink #Left-outer-Eye, svg.blink #Left-inner-Eye, svg.blink #Left-eye-Spark {
  transform-origin: 0 380px;
  animation: Blink 0.15s ease-in-out;
}

@keyframes Blink {
  0%, 100% {
    transform: scaleY(100%);
  }
  50% {
    transform: scaleY(0%);
  }
}
@keyframes MoveDownAndUp {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  0% {
    transform: translate(0, 0);
  }
}
@keyframes MoveDownAndUpLow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5px);
  }
  0% {
    transform: translate(0, 0);
  }
}
