svg.alfons {
    animation: idle 4s infinite;
    .left_eye *, .right_eye *, .nose {
        transition: transform 0.1s ease-in-out;
        transform-origin: center center;
    }
    .left_eye_spark{
        transform-origin: 395px 397px;
    }
    .right_eye_spark{
        transform-origin: 610px 397px;
    }
    .left_arm {
        transform-origin: 142.5px 810px;
        --handAngle: calc(var(--leftHandAngle) * 1deg);
    }
    .right_arm {
        transform-origin: 857.5px 810px;
        --handAngle: calc(var(--rightHandAngle) * 1deg);
    }
    .left_arm, .right_arm {
        transition: transform 0.6s ease-in-out;
        transform: rotateZ(var(--handAngle));
    }
    .mouth {
        transform-origin: center 465px;
        //sad
        //transform: rotateZ(180deg);
    }
}

@keyframes idle {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

svg.hatTilt {
    .hat {
        transform-origin: center center;
        --tilt-angle: 2deg;
        animation: MoveDownAndUpWithTilt 2s;
    }
    .right_arm, .left_arm {
        animation: MoveDownAndUp 2s;
    }
    .head {
        transform-origin: center center;
        animation: MoveDownAndUpLow 2s;
    }
}

svg.alfons.blink {
    .left_eye, .right_eye
    {
        transform-origin: 0 400px;
        animation: Blink 0.15s ease-in-out;
    }
}

svg.alfons.leftLooking {
    .left_inner_eye, .right_inner_eye {
        transform: translate(-45px, 0);
    }
    .left_eye_spark, .right_eye_spark {
        transform: translate(-5px, 0);
    }
    .nose {
        transform: scaleX(-1);
    }
    .hat {
        --tilt-angle: -2deg;
    }
}
svg.alfons.upLooking {
    .left_inner_eye, .right_inner_eye {
        transform: translate(-22.5px, -5px);
    }
    .left_eye_spark, .right_eye_spark {
        transform: translate(-2px, -12px) rotateZ(90deg);
    }
}

@keyframes Blink {
    0%,100% {
        transform: scaleY(100%);
    }
    50% {
        transform: scaleY(0%);
    }
}

@keyframes MoveDownAndUp {
    0%, 100% {
        transform: translate(0,0) rotateZ(var(--handAngle));
    }
    50% {
        transform: translate(0,1%) rotateZ(var(--handAngle));
    }
}
@keyframes MoveDownAndUpWithTilt {
    0%, 100% {
        transform: translate(0,0) rotateZ(0deg);
    }
    50% {
        transform: translate(0,20px) rotate(var(--tilt-angle));
    }
}

@keyframes MoveDownAndUpLow {
    0%, 100% {
        transform: translate(0,0) ;
    }
    50% {
        transform: translate(0,0.5%) ;
    }
}